body {
  font-family: "微軟正黑體";
  background-color: black;
  color: white;
  margin: 0;
}

#top {
  height: 10vh;
}

#mid {
  height: 50vh;
}

#bottom {
  height: 10vh;
}

#edge {
  height: 1px;
  opacity: 1;
  background-color: white;
}